<!DOCTYPE html>
<html>
<head>
    <title>Personalized Christmas Carol Generator</title>
    <link rel="stylesheet" href="C:\Users\SHREYAS\Desktop\Chritsmas Carol G\static\css\style.css">
</head>
<body>
    <h1>Personalized Christmas Carol Generator</h1>
    <form method="POST" action="/generate">
        <label for="user_name">Enter your name:</label>
        <input type="text" id="user_name" name="user_name"><br><br>
        <label for="user_interest">Enter your favorite Christmas activity/theme:</label>
        <input type="text" id="user_interest" name="user_interest">
        <button type="submit">Generate Carol</button>
    </form>
    <div id="carol-display"></div>

    <script src="C:\Users\SHREYAS\Desktop\Chritsmas Carol G\static\js\script.js"></script> 
</body>
</html>